caption{
    font-size: 40px;
    font-weight: bold;
    color: rgb(231, 192, 192);
    text-decoration: underline;
    text-transform: uppercase;
}

.hover:hover{
    background-color: rgb(231, 192, 192) !important;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.g-5{
    gap: 10px;
}

.z-1:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-10px) transiton: .5s;
}

@media {
    .z-1:hover:hover{
        transform: translateY(-10px);
    }
}